<div class="posts">
    {% for post in posts %}
    <article class="post">

        <h1 style="margin-bottom: -0.2rem;"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <small>
            <span class="date">
                {{ post.date | date: "%B %e, %Y" }}
            </span> |
            {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tags/#{{ tag }}" class="fas fa-tag post-tag">{{ tag }}</a>
            {% endfor %}
        </small>
        <div class="entry">
            {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
</div>